@charset "UTF-8";
.button--hero-buy, .button--contacts-location, .button--contacts-franchise {
  font-weight: 700px;
  font-size: 16px;
  line-height: 1.3125;
}

.button--hero-products, .button--hero-about {
  font-weight: 400;
  font-size: 8px;
  line-height: 1.25;
  border-radius: 20px;
}

.button--hero-buy, .button--hero-about, .button--about, .button--contacts-franchise {
  background-color: #ffffff;
  color: #d41443;
}

.button--hero-products, .button--contacts-location {
  background-color: #d41443;
  color: #ffffff;
}

a {
  text-decoration: none;
  font-style: normal;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titan One", cursive;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section__title {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
}

.section__title--visually-hidden {
  visibility: collapse;
  display: none;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
  }
}

.section__subtitle {
  font-family: "Titan One", cursive;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .section__subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .section__subtitle {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 0 20px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 35px 0 35px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px 0 115px;
  }
}

.button {
  border: 0;
  padding: 0;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.button:focus, .button:hover {
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button--hero-buy:hover, .button--hero-buy:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 1280px) {
  .button--hero-products {
    font-size: 14px;
    line-height: 1.285;
  }
}

.button--hero-products:hover, .button--hero-products:focus {
  background-color: #c7133e;
}

@media screen and (min-width: 1280px) {
  .button--hero-about {
    font-size: 14px;
    line-height: 1.285;
  }
}

.button--hero-about:hover, .button--hero-about:focus {
  background-color: #ecebeb;
}

.button--about {
  padding-left: 37px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 56px;
  font-size: 14px;
  line-height: 1.286;
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .button--about {
    font-size: 16px;
    line-height: 1.3125;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

.button--about:hover, .button--about:focus {
  background-color: #ecebeb;
}

.button--contacts-location:hover, .button--contacts-location:focus {
  background-color: #c7133e;
}

.button--contacts-franchise:hover, .button--contacts-franchise:focus {
  background-color: #ecebeb;
}

.hero-overlay {
  overflow: hidden;
  width: 100vw;
  height: 502px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #ffb8ca;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    width: 100vw;
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-overlay {
    height: 665px;
  }
}

.container--header {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 502px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .container--header {
    padding-top: 35px;
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .container--header {
    height: 665px;
  }
}

.hero-bg--elipce {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 16px;
  top: 83px;
  background-color: #ffa5ba;
  border-radius: 50%;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .hero-bg--elipce {
    width: 325px;
    height: 325px;
    left: 270px;
    top: 31px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg--elipce {
    width: 538px;
    height: 538px;
    left: 360px;
    top: 52px;
  }
}

.hero-bg--ice {
  position: absolute;
  width: 170px;
  height: 410px;
  left: 97px;
  bottom: 0;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-bg--ice {
    position: absolute;
    width: 143px;
    height: 336px;
    left: 340px;
    bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg--ice {
    width: 236px;
    height: 557px;
    left: 480px;
    bottom: 0;
  }
}

.hero-bg--milk {
  position: absolute;
  display: none;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-bg--milk {
    display: block;
    width: 124px;
    height: 126px;
    left: 0;
    top: 245px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg--milk {
    width: 188px;
    height: 191px;
    left: 0;
    top: 426px;
  }
}

.hero-bg--woman {
  position: absolute;
  display: none;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-bg--woman {
    display: block;
    width: 168px;
    height: 133px;
    right: 0;
    bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg--woman {
    width: 293px;
    height: 232px;
    right: 0;
    bottom: 0;
  }
}

.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

.logo__icon {
  width: 200px;
  height: 50px;
}

.menu-toggle.js-open-menu {
  background-color: transparent;
  border: none;
  margin-left: 60px;
}

@media screen and (min-width: 768px) {
  .menu-toggle.js-open-menu {
    margin-left: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item {
  margin-left: 35px;
}

.site-nav__item:first-child {
  margin-left: 0;
}

.site-nav__link {
  font-weight: 700px;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.site-nav__link:focus, .site-nav__link:hover {
  color: #d41443;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-white--hero {
  display: none;
  width: 200px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  border: transparent;
  border-radius: 22px;
}

@media screen and (min-width: 768px) {
  .button-white--hero {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 160px;
    right: 35px;
    padding: 0;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button-white--hero {
    margin-left: 0;
  }
}

.button-white--hero .button-white--hero__icon {
  width: 5px;
  height: 10px;
  margin-left: 15px;
  stroke: #d41443;
}

.container-hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 135px;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .container-hero {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container-hero {
    margin-left: 60px;
    margin-top: 85px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
  }
}

.hero__title--accent {
  font-weight: 400;
  font-size: 48px;
  line-height: 0.9;
  /* or 46px */
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .hero__title--accent {
    font-size: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title--accent {
    font-size: 58px;
  }
}

.hero__button {
  margin-top: 20px;
}

.button--hero-products-pink {
  width: 60px;
  height: 24px;
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: transparent;
}

@media screen and (min-width: 1280px) {
  .button--hero-products-pink {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
}

.button--hero-products-pink__link {
  color: white;
}

.button--hero-about-white {
  width: 80px;
  height: 24px;
  margin-left: 10px;
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: transparent;
}

@media screen and (min-width: 1280px) {
  .button--hero-about-white {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }
}

.button--hero-about-white__link {
  color: #d41443;
}

.hero-statistic {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-statistic {
    display: block;
    height: 50px;
  }
}

.hero-statistic__item {
  position: relative;
  margin-bottom: 15px;
}

.hero-statistic__item:last-child {
  margin-bottom: 0;
}

.hero-statistic__item--icon {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  top: 0;
  right: 0;
  z-index: -1;
}

@media screen and (min-width: 1280px) {
  .hero-statistic__item--icon {
    width: 30px;
    height: 30px;
  }
}

.hero-statistic__item--number {
  font-family: "Titan One", cursive;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 1280px) {
  .hero-statistic__item--number {
    font-size: 46px;
  }
}

.hero-statistic__item--name {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero-statistic__item--name {
    font-size: 14px;
  }
}

.hero-content {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-content {
    display: block;
    margin-top: 65px;
    margin-left: 115px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-content {
    margin-top: 110px;
    margin-left: 180px;
  }
}

.hero-content__text {
  width: 115px;
  height: 50px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  /* or 12px */
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero-content__text {
    width: 200px;
    height: 80px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero-content__icon {
  padding: 0;
  background-color: transparent;
  border: transparent;
  width: 18px;
  height: 18px;
  margin-top: 10px;
}

@media screen and (min-width: 1280px) {
  .hero-content__icon {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: transparent;
  border: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #E17992;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 1280px) {
  .menu-container {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.button-mobile-menu--hero {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 190px;
  height: 45px;
  border: transparent;
  border-radius: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
  margin-left: 35px;
  margin-right: 35px;
}

.button-mobile-menu--hero__icon {
  width: 5px;
  height: 10px;
  margin-left: 15px;
  stroke: #d41443;
}

.mobile-site-nav {
  margin-top: 20px;
}

.mobile--site-nav__item {
  border: 1px solid #E18298;
  padding: 10px 0 10px 24px;
}

.mobile-site-nav__link {
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.3;
  color: #FFFFFF;
}

.mobile-site-nav__link:focus, .mobile-site-nav__link:hover {
  color: #d41443;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 20;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* z-index: 1; */
  width: 450px;
  height: 609px;
  border-radius: 4px;
  background-color: #ffb8ca;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .backdrop .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  top: 0;
  width: 0;
  height: 0;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 6px;
  border: transparent;
  border-radius: 50%;
  background-color: transparent;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close__icon {
  width: 18px;
  height: 18px;
}

/* modal registration form */
.registrate-form {
  width: 450px;
  height: 609px;
  border-radius: 4px;
  /* outline: 1px solid gray; */
  padding: 40px;
}

@media screen and (min-width: 1200px) {
  .registrate-form {
    width: 528px;
    height: 581px;
  }
}

.registrate-form__title {
  font-family: "Titan One", cursive;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #d41443;
}

.registrate-form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.registrate-form-field textarea:hover,
.registrate-form-field textarea:focus {
  border: 1px solid #2196F3;
}

.registrate-form-field:nth-child(5) {
  margin-bottom: 20px;
}

.registrate-form-field textarea::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registrate-form-field textarea:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registrate-form-field textarea::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registrate-form-field textarea::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.registrate-form-field__input {
  width: 370px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 42px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.registrate-form-field__input:hover, .registrate-form-field__input:focus {
  border: 1px solid #2196F3;
}

@media screen and (min-width: 1200px) {
  .registrate-form-field__input {
    width: 448px;
  }
}

.registrate-form-field__lable {
  font: "DM Sans", sans-serif;
  margin-bottom: 4px;
  text-align: left;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #d41443;
}

textarea {
  resize: none;
  width: 370px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
}

@media screen and (min-width: 1200px) {
  textarea {
    width: 448px;
  }
}

.button--hero-products-modal {
  font-size: 14px;
  width: 120px;
  height: 40px;
  border: transparent;
}

.section__subtitle {
  margin-bottom: 15px;
}

.section__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .section__title {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .section__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 768px) {
  .product__list {
    -ms-flex-preferred-size: calc((100% / 3) - 40px);
        flex-basis: calc((100% / 3) - 40px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .product__list--item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .product__list--item:not(:last-child) {
    margin-right: 30px;
  }
}

.product-card--ice, .product-card--coffee, .product-card--milkshake {
  position: relative;
  border-radius: 24px;
  padding: 40px;
  margin-top: 130px;
}

@media screen and (min-width: 768px) {
  .product-card--ice, .product-card--coffee, .product-card--milkshake {
    padding: 40px 10px 40px 10px;
  }
}

@media screen and (min-width: 1280px) {
  .product-card--ice, .product-card--coffee, .product-card--milkshake {
    padding: 45px;
  }
}

.product-card--ice {
  background-color: #ffb8ca;
}

.product-card--coffee {
  background-color: #f0d1a5;
}

.product-card--milkshake {
  background-color: #c2e297;
}

.product__item--title {
  color: #ffffff;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-top: 160px;
  margin-bottom: 30px;
}

.product__item--title::after {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: "";
  width: 26px;
  height: 6px;
  background-image: url("../images/ellipse.png");
  background-repeat: space;
  width: 23px;
  margin: 30px auto 30px auto;
}

.product-card--ice::before {
  content: "";
  position: absolute;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background-image: url("../images/prod-ice-mob.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card--ice::before {
    background-image: url("../images/prod-ice-mob2x.png");
  }
}

@media screen and (min-width: 768px) {
  .product-card--ice::before {
    background-image: url("../images/prod-ice-tab.png");
    width: 220px;
    height: 225px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-card--ice::before {
    background-image: url("../images/prod-ice-tab2x.png");
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .product-card--ice::before {
    background-image: url("../images/prod-ice-desk.png");
    width: 335px;
    height: 335px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-card--ice::before {
    background-image: url("../images/prod-ice-desk2x.png");
  }
}

.product-card--coffee::before {
  content: "";
  position: absolute;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background-image: url("../images/prod-coffee-mob.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card--coffee::before {
    background-image: url("../images/prod-coffee-mob2x.png");
  }
}

@media screen and (min-width: 768px) {
  .product-card--coffee::before {
    background-image: url("../images/prod-coffee-tab.png");
    width: 220px;
    height: 225px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-card--coffee::before {
    background-image: url("../images/prod-coffee-tab2x.png");
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .product-card--coffee::before {
    background-image: url("../images/prod-coffee-desk.png");
    width: 335px;
    height: 335px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-card--coffee::before {
    background-image: url("../images/prod-coffee-desk2x.png");
  }
}

.product-card--milkshake::before {
  content: "";
  position: absolute;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 3%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background-image: url("../images/prod-shake-mob.png");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .product-card--milkshake::before {
    background-image: url("../images/prod-shake-mob2x.png");
  }
}

@media screen and (min-width: 768px) {
  .product-card--milkshake::before {
    background-image: url("../images/prod-shake-tab.png");
    width: 220px;
    height: 225px;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-card--milkshake::before {
    background-image: url("../images/prod-shake-tab2x.png");
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) {
  .product-card--milkshake::before {
    background-image: url("../images/prod-shake-desk.png");
    width: 335px;
    height: 335px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-card--milkshake::before {
    background-image: url("../images/prod-shake-desk2x.png");
  }
}

.product__list--text {
  color: #ffffff;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .product__list--text {
    line-height: 1.7;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) {
  .product__list--text {
    margin-bottom: 60px;
  }
}

.product-button {
  display: block;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin: 0 auto;
}

.section--about {
  background-color: #fff5f6;
  background-image: url(../images/about-backgr-mob.png);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 0px bottom 60px;
}

@media screen and (max-width: 767px) {
  .section--about {
    background-image: url(../images/about-backgr-mob.png);
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .section--about {
    background-image: url(../images/about-backgr-mob2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .section--about {
    background-image: url(../images/about-backgr-desk.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .section--about {
    background-image: url(../images/about-backgr-desk2x.png);
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section--about {
    background-image: none;
  }
}

.section__subtitle--about {
  margin-bottom: 15px;
}

.about__title {
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .about__title {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    margin-bottom: 55px;
  }
}

@media screen and (min-width: 768px) {
  .thumb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .overlay {
    min-width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .overlay {
    min-width: 516px;
  }
}

.box {
  margin-top: 40px;
  padding-right: 30px;
  padding-left: 30px;
}

@media screen and (min-width: 768px) {
  .box {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 17px;
    margin-top: 50px;
  }
}

.about__description {
  color: #000000;
  font-size: 12px;
  line-height: 1.583;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__description {
    font-size: 14px;
    line-height: 1.786;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about__description {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.583;
  color: #907e82;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .about__text {
    font-size: 14px;
    line-height: 1.786;
    letter-spacing: 0.04em;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .about__text {
    line-height: 1.928;
    margin-bottom: 45px;
  }
}

.about__line {
  margin-top: 1em;
  display: block;
}

@media screen and (min-width: 1280px) {
  .about__line {
    margin-top: 1.5em;
  }
}

.button--about {
  position: relative;
}

.button--about__icon {
  position: absolute;
  width: 5px;
  height: 10px;
  top: 50%;
  right: 37px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  stroke: #d41443;
}

.section--advantages {
  background-color: #fff5f6;
}

@media screen and (min-width: 768px) {
  .section--advantages {
    padding-top: 0;
  }
}

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .advantages {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.advantages__wrap {
  position: relative;
  width: 230px;
  height: 136px;
}

.advantages__wrap::before {
  position: absolute;
  top: -45px;
  width: 50px;
  height: 50px;
  content: '';
}

@media screen and (min-width: 768px) {
  .advantages__wrap {
    width: auto;
    height: auto;
    -ms-flex-preferred-size: calc(100% / 3 - 60px);
        flex-basis: calc(100% / 3 - 60px);
    margin-right: 60px;
  }
}

.advantages__wrap--bg1::before {
  background-image: url(../../src/images/advantages_icon1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__wrap--bg2::before {
  background-image: url(../../src/images/advantages_icon2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__wrap--bg3::before {
  background-image: url(../../src/images/advantages_icon3.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.advantages__title {
  margin: 16px 0;
  display: inline-block;
  font-family: "Titan One", cursive;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .advantages__title {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 1.146;
  }
}

@media screen and (min-width: 768px) {
  .advantages__title {
    margin-top: 40px;
    font-size: 58px;
    line-height: 1.138;
  }
}

.advantages__text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 14px;
    line-height: 1.74;
  }
}

@media screen and (min-width: 768px) {
  .advantages__text {
    font-size: 16px;
    line-height: 1.76;
  }
}

.gallery-section {
  padding-top: 0;
  padding-bottom: 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, #ffffff), color-stop(50%, #fff5f6));
  background-image: linear-gradient(to right, #ffffff 50%, #fff5f6 50%);
}

.gallery-container {
  padding-left: 0;
  padding-right: 0;
}

.customer-reviews__wrap:nth-child(2),
.customer-reviews__wrap:nth-child(3) {
  display: none;
}

.customer-reviews__img-wrap {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-reviews__img {
  width: 85px;
  height: 85px;
}

.customer-reviews__text-wrap {
  margin: 30px auto;
  padding: 45px 55px 25px;
  position: relative;
  width: 280px;
  background-color: #fafafa;
}

.customer-reviews__text-wrap::before {
  position: absolute;
  top: 30px;
  left: 60px;
  content: '';
  width: 54px;
  height: 40px;
  z-index: 1;
  background-size: contain;
  background-image: url(../../src/images/quotes.svg);
}

@media screen and (min-width: 768px) {
  .customer-reviews__text-wrap {
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 40px 30px 40px 60px;
    width: 620px;
  }
  .customer-reviews__text-wrap::before {
    left: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text-wrap {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px 55px 30px 50px;
    width: 925px;
  }
  .customer-reviews__text-wrap::before {
    top: 20px;
    left: 50px;
  }
}

.customer-reviews__text {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  display: inline-block;
  width: 180px;
  z-index: 20;
  background-image: repeating-linear-gradient(180deg, transparent, transparent 28.5px, #e1e1e1 30.5px);
  font-size: 12px;
  line-height: 2.55;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .customer-reviews__text {
    padding-right: 45px;
    padding-left: 20px;
    width: 525px;
    font-size: 14px;
    line-height: 2.16;
  }
}

@media screen and (min-width: 1280px) {
  .customer-reviews__text {
    padding-right: 35px;
    padding-bottom: 0;
    padding-left: 30px;
    width: 820px;
    font-size: 16px;
    line-height: 1.86;
  }
}

.customer-reviews__list {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-reviews__item {
  margin-right: 10px;
}

.customer-reviews__item::before {
  display: inline-block;
  color: #c7133e;
  content: '•';
}

.customer-reviews__info {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  line-height: 1.86;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .customer-reviews__info {
    font-size: 16px;
  }
}

.customer-reviews__list-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customer-reviews__item-pagination:first-child {
  margin-right: 18px;
}

.customer-reviews__item-pagination:first-child::before {
  display: inline-block;
  width: 13px;
  height: 12px;
  background-image: url(../../src/images/home.svg);
  content: ' ';
}

.customer-reviews__item-pagination:not(:first-child) {
  margin-right: 18px;
}

.customer-reviews__item-pagination:not(:first-child)::before {
  display: inline-block;
  background-color: #d9d9d9;
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.section__contacts {
  background-image: linear-gradient(to bottom, #ffffff 10.5%, #fff5f6 90px);
}

.contacts {
  max-width: 220px;
  padding: 43px 20px;
  margin: 20px auto;
  font-size: 12px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  font-family: "DM Sans", sans-serif;
}

.contacts .contacts__category {
  padding: 0 24px;
  display: inline;
  background: #f0d1a5;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  border-radius: 5px;
}

.contacts .contacts__category-background-green {
  background: #c2e297;
}

.contacts .contacts__subtitle {
  margin-top: 25px;
  font-size: 12px;
  text-transform: capitalize;
  font-family: "DM Sans", sans-serif;
}

.contacts .contacts__subtitle-mt {
  margin-top: 10px;
}

.contacts .contacts__text {
  color: #907e82;
  margin: 10px 0 25px 0;
}

.contacts .contacts__time {
  color: #ffa5ba;
  margin: 0;
}

.contacts .contacts__time-mb {
  margin-bottom: 25px;
}

.contacts .contacts__item:nth-child(2) {
  border-bottom: 1px solid #e1e1e1;
}

.contacts .contacts__item:nth-child(4) {
  border-bottom: 1px solid #e1e1e1;
}

.contacts .contacts__link {
  display: block;
  color: #907e82;
}

.contacts .contacts__link:nth-child(1) {
  margin-top: 25px;
}

.button__block {
  margin-top: 50px;
  display: block;
}

.button__red {
  background: #d41342;
  color: #ffffff;
  padding: 13px 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.button__white {
  background: #ffffff;
  color: #d41443;
  margin: 10px auto;
  padding: 13px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__white:hover, .button__white:focus {
  background: #ecebeb;
}

.button__svg-white {
  stroke: #ffffff;
  margin-left: 10px;
}

.button__svg-red {
  stroke: #d41342;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .section__contacts {
    background-image: linear-gradient(to bottom, #ffffff 21.5%, #fff5f6 90px);
  }
  .container__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts {
    padding: 50px 45px 50px 30px;
    margin: 0;
    font-size: 14px;
  }
  .contacts .contacts__category {
    padding: 4px 16px;
    font-size: 16px;
  }
  .contacts .contacts__subtitle {
    margin-top: 30px;
    font-size: 14px;
  }
  .contacts .contacts__subtitle-mt {
    margin-top: 15px;
  }
  .contacts .contacts__text {
    color: #907e82;
    margin: 15px 0 30px 0;
  }
  .contacts .contacts__time {
    color: #ffa5ba;
    margin: 0;
  }
  .contacts .contacts__time-mb {
    margin-bottom: 30px;
  }
  .flex-basis {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
  .button__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 80px;
  }
  .button__red {
    padding: 13px 34px;
  }
  .button__white {
    margin: 0 0 0 15px;
    padding: 13px 42px;
  }
}

@media screen and (min-width: 1280px) {
  .section__contacts {
    background-image: linear-gradient(to bottom, #ffffff 23.5%, #fff5f6 90px);
  }
  .contacts {
    max-width: 330px;
    padding: 50px 45px 60px 45px;
    font-size: 16px;
  }
  .contacts .contacts__subtitle {
    margin-top: 30px;
    font-size: 16px;
  }
  .button__block {
    margin-top: 85px;
  }
  .button__red {
    padding: 13px 38px;
  }
  .button__white {
    margin: 0 0 0 15px;
    padding: 13px 45px;
  }
}

.footer {
  position: relative;
  background-color: #fff5f6;
  padding-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-bottom: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .footer {
    padding-bottom: 10px;
  }
}

.footer::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid #e1e1e1;
  bottom: 89px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer::after {
    bottom: 73px;
  }
}

@media screen and (min-width: 1280px) {
  .footer::after {
    bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 120px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-wrapper {
    margin-bottom: 106px;
  }
}

.pretitle {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .pretitle {
    letter-spacing: 0.04em;
  }
}

.pretitle > span {
  display: block;
}

@media screen and (min-width: 1280px) {
  .pretitle > span {
    display: inline;
  }
}

.footer-title {
  margin-top: 17px;
  text-align: left;
}

@media screen and (min-width: 768px) {
  .footer-title {
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1280px) {
  .footer-title {
    margin-top: 15px;
  }
}

.footer-title > span {
  display: block;
}

@media screen and (min-width: 1280px) {
  .footer-title > span {
    display: inline;
  }
}

@media screen and (max-width: 767px) {
  .footer-titles {
    margin-bottom: 43px;
  }
}

@media screen and (min-width: 768px) {
  .footer-titles {
    margin-right: auto;
  }
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 46px;
}

.footer-socials__link:not(:last-child) {
  margin-right: 28px;
}

@media screen and (min-width: 768px) {
  .footer-socials__link:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-socials__link:not(:last-child) {
    margin-right: 25px;
  }
}

.footer-socials__icon {
  height: 32px;
  width: 32px;
  background-color: #fea5bb;
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socials__icon:hover, .footer-socials__icon:focus, .footer-socials__icon:active {
  background-color: #d41443;
}

.footer-contact {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.833;
  text-align: right;
  margin-bottom: 65px;
}

@media screen and (min-width: 768px) {
  .footer-contact {
    font-size: 14px;
    line-height: 1.857;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .footer-contact {
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.02em;
  }
}

.footer-contact__tel {
  color: #d41443;
}

.copyright {
  font-weight: 700;
  color: #907e82;
  font-size: 14px;
  line-height: 1.714;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .copyright {
    line-height: 1.857;
    letter-spacing: 0.02em;
  }
}

.copyright > span {
  display: block;
}

@media screen and (min-width: 768px) {
  .copyright > span {
    display: inline;
  }
}
/*# sourceMappingURL=main.css.map */