a {
  text-decoration: none;
  font-style: normal;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Titan One", cursive;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

body {
  font-family: "DM Sans", sans-serif, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.8;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.section__title {
  color: #d41443;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 34px;
  line-height: 1.147;
  text-align: center;
  letter-spacing: 0.04em;
}

@media screen and (min-width: 768px) {
  .section__title {
    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .section__title {
    font-size: 58px;
    line-height: 1.138;
    letter-spacing: 0.06em;
  }
}

.section__title--visually-hidden {
  visibility: collapse;
  display: none;
}

.section__subtitle {
  font-family: "Titan One", cursive;
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.17;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .section__subtitle {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .section__subtitle {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 0 20px;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 35px 0 35px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px 0 115px;
  }
}

.button-white {
  color: #d41443;
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}

.button-white:focus, .button-white:hover {
  background-color: #ecebeb;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-white--secondary-white {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.button-white--secondary-white--secondary-white:hover, .button-white--secondary-white--secondary-white:focus {
  background-color: #ecebeb;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-pink {
  color: #ffffff;
  background-color: #d41342;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
}

.button-pink:hover, .button-pink:focus {
  background-color: #C7133E;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-pink--secondary-pink {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.button-pink--secondary-pink--secondary-pink:hover, .button-pink--secondary-pink--secondary-pink:focus {
  background-color: #C7133E;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-overlay {
  position: relative;
  width: 100vw;
  height: 502px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  background-color: #ffb8ca;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .hero-overlay {
    width: 100vw;
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-overlay {
    height: 665px;
  }
}

.container {
  position: relative;
  height: 502px;
  padding-top: 5px;
}

@media screen and (min-width: 768px) {
  .container {
    padding-top: 35px;
    height: 400px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    height: 665px;
  }
}

.hero-bg--ice {
  position: absolute;
  width: 170px;
  height: 410px;
  left: 117px;
  bottom: 0;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-bg--ice {
    width: 143px;
    height: 336px;
    left: 378px;
    top: 57px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg--ice {
    width: 236px;
    height: 557px;
    left: 594px;
    top: 98px;
  }
}

.hero-bg--milk {
  position: absolute;
  display: none;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-bg--milk {
    display: block;
    width: 124px;
    height: 126px;
    left: 34px;
    top: 245px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg--milk {
    width: 188px;
    height: 191px;
    left: 77px;
    top: 426px;
  }
}

.hero-bg--woman {
  position: absolute;
  display: none;
  z-index: 3;
}

@media screen and (min-width: 768px) {
  .hero-bg--woman {
    display: block;
    width: 168px;
    height: 133px;
    left: 566px;
    top: 266px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg--woman {
    width: 293px;
    height: 232px;
    left: 878px;
    top: 433px;
  }
}

.hero-bg--elipce {
  position: absolute;
  width: 350px;
  height: 350px;
  left: 36px;
  top: 83px;
  background-color: #ffa5ba;
  border-radius: 50%;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .hero-bg--elipce {
    width: 325px;
    height: 325px;
    left: 307px;
    top: 31px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-bg--elipce {
    width: 538px;
    height: 538px;
    left: 475px;
    top: 52px;
  }
}

.top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

.logo__icon {
  width: 200px;
  height: 50px;
}

.menu-toggle.js-open-menu {
  background-color: transparent;
  border: none;
  margin-left: 60px;
}

@media screen and (min-width: 768px) {
  .menu-toggle.js-open-menu {
    margin-left: 300px;
  }
}

@media screen and (min-width: 1280px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .site-nav {
    display: none;
  }
}

.site-nav__item {
  margin-left: 35px;
}

.site-nav__item:first-child {
  margin-left: 0;
}

.site-nav__link {
  font-weight: 700px;
  font-size: 16px;
  line-height: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
}

.site-nav__link:focus, .site-nav__link:hover {
  color: #d41443;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-white--hero {
  display: none;
  width: 200px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .button-white--hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 160px;
    right: 35px;
    padding: 0;
    margin-left: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .button-white--hero {
    margin-left: 0;
  }
}

.container-hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 135px;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .container-hero {
    margin-top: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .container-hero {
    margin-left: 60px;
    margin-top: 85px;
  }
}

.hero__title {
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 22px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
  }
}

.hero__title--accent {
  font-weight: 400;
  font-size: 48px;
  line-height: 0.9;
  /* or 46px */
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .hero__title--accent {
    font-size: 34px;
  }
}

@media screen and (min-width: 1280px) {
  .hero__title--accent {
    font-size: 58px;
  }
}

.hero__button {
  margin-top: 20px;
}

.hero-button-pink--secondary-pink {
  width: 60px;
  height: 24px;
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .hero-button-pink--secondary-pink {
    width: 100px;
    height: 40px;
    font-size: 14px;
  }
}

.hero-button-white--secondary-white {
  width: 80px;
  height: 24px;
  margin-left: 10px;
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media screen and (min-width: 1280px) {
  .hero-button-white--secondary-white {
    width: 140px;
    height: 40px;
    font-size: 14px;
  }
}

.hero-statistic {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-statistic {
    display: block;
    height: 50px;
  }
}

.hero-statistic__item {
  position: relative;
  margin-bottom: 15px;
}

.hero-statistic__item:last-child {
  margin-bottom: 0;
}

.hero-statistic__item--icon {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transform: translateX(40%);
          transform: translateX(40%);
  top: 0;
  right: 0;
  z-index: -1;
}

@media screen and (min-width: 1280px) {
  .hero-statistic__item--icon {
    width: 30px;
    height: 30px;
  }
}

.hero-statistic__item--number {
  font-family: "Titan One", cursive;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.14;
  /* identical to box height */
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
}

@media screen and (min-width: 1280px) {
  .hero-statistic__item--number {
    font-size: 46px;
  }
}

.hero-statistic__item--name {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  text-align: right;
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero-statistic__item--name {
    font-size: 14px;
  }
}

.hero-content {
  display: none;
}

@media screen and (min-width: 768px) {
  .hero-content {
    display: block;
    margin-top: 65px;
    margin-left: 115px;
  }
}

@media screen and (min-width: 1280px) {
  .hero-content {
    margin-top: 110px;
    margin-left: 180px;
  }
}

.hero-content__text {
  width: 115px;
  height: 50px;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.5;
  /* or 12px */
  color: #ffffff;
}

@media screen and (min-width: 1280px) {
  .hero-content__text {
    width: 200px;
    height: 80px;
    font-size: 14px;
    line-height: 1.4;
  }
}

.hero-content__icon {
  padding: 0;
  background-color: transparent;
  border: transparent;
  width: 18px;
  height: 18px;
  margin-top: 10px;
}

@media screen and (min-width: 1280px) {
  .hero-content__icon {
    width: 26px;
    height: 26px;
    margin-top: 20px;
  }
}

.button-white--mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-toggle.js-close-menu {
  position: absolute;
  top: 20px;
  right: 25px;
  background-color: transparent;
  border: none;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vw;
  background-color: #E17992;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (min-width: 1280px) {
  .menu-container {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

.mobile-menu {
  margin: 48px 40px 48px 40px;
}
/*# sourceMappingURL=main.css.map */