@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list {
  background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face {
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;

  src: url('./fonts/slick.eot');
  src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'),
    url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'),
    url('./fonts/slick.svg#slick') format('svg');
}

/* Dots */
.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-dots li {
  margin-right: 18px;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.slick-dots li:last-child {
  margin-right: 0;
}
.slick-dots li button {
  display: block;
  width: 12px;
  height: 12px;
  background: transparent;
  background-color: #d9d9d9;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

.slick-dots li button:before {
  font-family: 'slick';
  position: absolute;
  top: 0;
  left: 0;
  width: 13px;
  height: 12px;
  content: '•';
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  content: '';
  background-color: #fff;
  background-image: url(../../src/images/home.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 0%;
  background-position: top;
}
