$color-main: #ffffff;
//bg
$secondary-bg-pink: #fff5f6;
$accent-bg-pink: #ffb8ca;
$accent-bg-maize: #f0d1a5;
$accent-bg-green: #c2e297;
//bg button
$btn-bg-accent: #d41342;
$btn-bg-hover: #ecebeb;
//bg icons
$contact-icon: #fea5bb;
$contact-icon-hover: #d41443;
//slider
$slider-bg: #fafafa;
$slider-accent: #e1e1e1;
$slider-pointer: #c7133e;
$pagination-main: #d9d9d9;
$pagination-accent: #d31342;
//text color
$primary-text-accent: #d41443;
$secondary-text-accent: #ffa5ba;
$text-color-black: #000000;
$text-color-grey: #907e82;
//fonts
$main-font: 'DM Sans', sans-serif;
$accent-font: 'Titan One', cursive;
$main-font-size: 16px;
