<section class="section">
    <div class="container">
        <h2 class="section__title section__title--visually-hidden">Customer Reviews</h2>
        <div class="customer-reviews">
            <div class="customer-reviews__wrap">
                <div class="customer-reviews__img-wrap">
                    <img class="customer-reviews__img"
                        srcset="./images/customer-user-main.png 1x, ./images/customer-user-main2x.png 2x"
                        src="./images/customer-user-main.png" alt="Foto Emily">
                </div>

                <div class="customer-reviews__text-wrap">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <ul class="customer-reviews__list">
                    <li class="customer-reviews__item"></li>
                    <li class="customer-reviews__item"></li>
                    <li class="customer-reviews__item"></li>
                </ul>
                <p class="customer-reviews__info">Emily, Los Angeles</p>
            </div>
            <div class="customer-reviews__wrap">
                <div class="customer-reviews__img-wrap">
                    <img class="customer-reviews__img"
                        srcset="./images/customer-user-add.png 1x, ./images/customer-user-add2x.png 2x"
                        src="./images/customer-user-add.png" alt="Foto Annette">
                </div>
                <div class="customer-reviews__text-wrap">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <ul class="customer-reviews__list">
                    <li class="customer-reviews__item"></li>
                    <li class="customer-reviews__item"></li>
                    <li class="customer-reviews__item"></li>
                </ul>
                <p class="customer-reviews__info">Annette, Chicago</p>
            </div>
            <div class="customer-reviews__wrap">
                <div class="customer-reviews__img-wrap">
                    <img class="customer-reviews__img"
                        srcset="./images/customer-user-extra.png 1x, ./images/customer-user-extra2x.png 2x"
                        src="./images/customer-user-extra.png" alt="Foto Holy">
                </div>
                <div class="customer-reviews__text-wrap">
                    <p class="customer-reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                        Aliquam sem. In hendrerit nulla quam nunc, accumsan
                        congue. Lorem ipsum primis in nibh vel risus.</p>
                </div>
                <ul class="customer-reviews__list">
                    <li class="customer-reviews__item"></li>
                    <li class="customer-reviews__item"></li>
                    <li class="customer-reviews__item"></li>
                </ul>
                <p class="customer-reviews__info">Holy, New York</p>
            </div>
        </div>
    </div>
</section>