<section id="home" class="hero hero-overlay">
   
<div class="container">
    <div class="container--header hero-bg">
        <div class="hero-bg--ice">
            <picture>
                <source srcset="./images/hero-ice-desk.png 1x,./images/hero-ice-desk2x.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/hero-ice-tab.png 1x,./images/hero-ice-tab2x.png 2x" media="(min-width: 768px)">
                <source srcset="./images/hero-ice-mob.png 1x,./images/hero-ice-mob2x.png 2x" media="(max-width: 767px)">
                <img src="./images/hero-ice-mob.png" alt="мороженое">
            </picture>
        </div>
    
        <div class="hero-bg--milk">
            <picture>
                <source srcset="./images/hero-milk-desk.png 1x,./images/hero-milk-desk2x.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/hero-milk-tab.png 1x,./images/hero-milk-tab2x.png 2x" media="(min-width: 768px)">
                <img src="./images/hero-milk-tab.png" alt="молоко">
            </picture>
        </div>
    
        <div class="hero-bg--woman">
            <picture>
                <source srcset="./images/hero-woman-desk.png 1x,./images/hero-woman-desk2x.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/hero-woman-tab.png 1x,./images/hero-woman-tab2x.png 2x" media="(min-width: 768px)">
                <img src="./images/hero-woman-tab.png" alt="девушка с мороженым">
            </picture>
        </div>
    
        <div class="hero-bg--elipce"></div>
    
        <header class="page-header" >
            <div class="top">
                    <a href="" class="logo">
                        <img 
                                srcset="
                                    ./images/hero-logo.png 1x,
                                    ./images/hero-logo2x.png 2x"
    
                                src="./images/hero-logo.png" >
                    </a>
                        
            <!-- <nav class="page-header__nav">  -->
                
            <ul class="site-nav list">
                <li class="site-nav__item">
                  <a href="#home" class="scrollto site-nav__link">Home</a>
                </li>
                <li class="site-nav__item">
                  <a href="#about" class="scrollto site-nav__link">About us</a>
                </li>
                <li class="site-nav__item">
                    <a href="#made" class="scrollto site-nav__link">How it’s made?</a>
                </li>   
                <li class="site-nav__item">
                    <a href="#products" class="scrollto site-nav__link">Our products</a>
                </li>
                <li class="site-nav__item">
                    <a href="#contact" class="scrollto site-nav__link">Contact</a>
                </li>
            </ul>
            <!-- </nav> -->
            <button
                class="menu-toggle js-open-menu"
                aria-expanded="false"
                aria-controls="mobile-menu" >
    
                <svg width="24" height="16" class="menu-icon">
                    <use href="./images/sprite.svg#menu-open"></use>
                </svg>
            </button>
    
            <button type="button" class="button button--hero-buy button-white--hero" data-modal-open>
                Buy now
                <svg class="button-white--hero__icon">
                    <use href="./images/sprite.svg#arrow"></use>
                </svg>
            </button>
                  
            </div>

        </header> 
        
    <div class="container-hero">
        <div class="container-hero-title">
            <h1 class="hero__title">
                <p>ice cream</p>
                <p>made with</p>
                <p class="hero__title--accent">passion</p>
            </h1>

            <ul class="hero-button">
                <li class="hero-button__item">
                    <button type="button" class="button button--hero-products button--hero-products-pink">
                        <a href="#products" class="scrollto button--hero-products-pink__link">Products</a>
                    </button>
                </li>
                <li class="hero-button__item">
                    <button type="button" class="button button--hero-about button--hero-about-white">
                        <a href="#made" class="scrollto button--hero-about-white__link">How it’s made?</a>
                    </button>
                </li>
            </ul>

        </div>

            <ul class="hero-statistic">
                <li class="hero-statistic__item">
                    <div class="hero-statistic__item--icon"></div>
                    <p class="hero-statistic__item--number">16</p>
                    <p class="hero-statistic__item--name">cafes</p>
                </li>
                <li class="hero-statistic__item">
                    <div class="hero-statistic__item--icon"></div>
                    <p class="hero-statistic__item--number">23</p>
                    <p class="hero-statistic__item--name">food trucks</p>
                </li>
            </ul>
        
    </div>

    <div class="hero-content">
        <p class="hero-content__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="hero-content__icon">
            <svg class="hero-content__icon-arrow">
                <use href="./images/sprite.svg#arrow-new"></use>
            </svg>
        </button>
    </div>                                                                                                 
    </div>

</div>

 </section>



    <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu">
            <svg width="24" height="16" class="menu-icon--close">
                <use href="./images/sprite.svg#menu-close"></use>
            </svg>
        </button>
    
        <div class="mobile-menu">
    
            <button type="button" class="button button--hero-buy button-mobile-menu--hero" data-modal-open>
                Buy now
                <svg class="button-mobile-menu--hero__icon">
                    <use href="./images/sprite.svg#arrow"></use>
                </svg>
            </button>
    
            <ul class="mobile-site-nav list">
                <li class="mobile--site-nav__item">
                    <a href="#home" class="scrollto mobile-site-nav__link">Home</a>
                  </li>
                  <li class="mobile--site-nav__item">
                    <a href="#about" class="scrollto mobile-site-nav__link">About us</a>
                  </li>
                  <li class="mobile--site-nav__item">
                      <a href="#made" class="scrollto mobile-site-nav__link">How it’s made?</a>
                  </li>   
                  <li class="mobile--site-nav__item">
                      <a href="#products" class="scrollto mobile-site-nav__link">Our products</a>
                  </li>
                  <li class="mobile--site-nav__item">
                      <a href="#contact" class="scrollto mobile-site-nav__link">Contact</a>
                  </li>  
            </ul> 
    
        </div>
      </div>



      <!--modal registration form-->

      <div class="backdrop is-hidden" data-modal>
        <div class="modal">

        <form method="GET" class="registrate-form" autocomplete="on">
            <p class="registrate-form__title">Contact us</p>
            <div class="registrate-form-field">
                <label for="client-name" class="registrate-form-field__lable">Name</label>
                <input 
                    class="registrate-form-field__input"
                    type="text" 
                    name="client-name" 
                    id="client-name" 
                    autofocus/>


            </div>
            
            <div class="registrate-form-field">
                <label for="tel" class="registrate-form-field__lable">Phone</label>
                <input 
                    class="registrate-form-field__input"
                    type="tel" 
                    name="tel" 
                    id="tel"/>
               
            </div>

            <div class="registrate-form-field">
                <label for="mail" class="registrate-form-field__lable">E-mail</label>
                <input 
                    class="registrate-form-field__input"
                    type="email"
                    name="mail"
                    id="mail"/>
                
            </div>
            
            <div class="registrate-form-field">
                <label for="coment" class="registrate-form-field__lable">Coment</label>
                <textarea 
                    name="coment" 
                    id="coment" 
                    rows="10" 
                    placeholder="Enter the text"></textarea>
            </div>

            <button type="submit" class="button--hero-products button--hero-products-modal">Submit</button>

    ` </form>

            <button class="button-close" data-modal-close>
                <svg class="button-close__icon">
                    <use href="./images/sprite.svg#menu-close"></use>
                </svg>
            </button>
        </div>
    </div>

    