<section class="hero hero-overlay">
   
<div class="container">
    <div class="hero-bg--ice">
        <img
        
        srcset="./images/hero-ice-mob.png 1x, ./images/hero-ice-mob2x.png 2x"
            
        src="./images/hero-ice-mob.png"
            alt="Описание изображения для всех версий"
            />
    </div>

    <div class="hero-bg--milk">
        <img
        
        srcset="./images/hero-milk-tab.png 1x, ./images/hero-milk-tab2x.png 2x"
            
        src="./images/hero-milk-tab.png"
            alt="Описание изображения для всех версий"
            />
    </div>

    <div class="hero-bg--woman">
        <img
        
        srcset="./images/hero-woman-tab.png 1x, ./images/hero-woman-tab2x.png 2x"
            
        src="./images/hero-woman-tab.png"
            alt="Описание изображения для всех версий"
            />
    </div>

    <div class="hero-bg--elipce"></div>

    <header class="page-header" >
        <div class="top">
                <a href="" class="logo">
                    <img 
                            srcset="
                                ./images/hero-logo.png 1x,
                                ./images/hero-logo2x.png 2x"

                            src="./images/hero-logo.png" >
                </a>
                    
        <nav class="page-header__nav"> 
            
        <ul class="site-nav list">
            <li class="site-nav__item">
              <a href="" class="site-nav__link site-nav__link--current">Home</a>
            </li>
            <li class="site-nav__item">
              <a href="" class="site-nav__link">About us</a>
            </li>
            <li class="site-nav__item">
                <a href="" class="site-nav__link">How it’s made?</a>
            </li>   
            <li class="site-nav__item">
                <a href="" class="site-nav__link">Our products</a>
            </li>
            <li class="site-nav__item">
                <a href="" class="site-nav__link">Contact</a>
            </li>
        </ul>
        </nav>
        <button
            class="menu-toggle js-open-menu"
            aria-expanded="false"
            aria-controls="mobile-menu" >

            <svg width="24" height="16" class="menu-icon">
                <use href="./images/sprite.svg#menu-open"></use>
            </svg>
        </button>

        <button type="button" class="button-white button-white--hero">Buy now</button>
              
        </div>



    </header> 

    <div class="container-hero">
        <div class="container-hero--title">
            <h1 class="hero__title">
                <div>ice cream</div>
                <div>made with</div>
                <div class="hero__title--accent">passion</div>
            </h1>
            <div class="hero__button">
                <button type="button" class="button-pink button-pink--secondary-pink hero-button-pink--secondary-pink">Products</button>
                <button type="button" class="button-white button-white--secondary-white hero-button-white--secondary-white">How it’s made?</button>
            </div>
        </div>

            <ul class="hero-statistic">
                <li class="hero-statistic__item">
                    <div class="hero-statistic__item--icon"></div>
                    <p class="hero-statistic__item--number">16</p>
                    <p class="hero-statistic__item--name">cafes</p>
                </li>
                <li class="hero-statistic__item">
                    <div class="hero-statistic__item--icon"></div>
                    <p class="hero-statistic__item--number">23</p>
                    <p class="hero-statistic__item--name">food trucks</p>
                </li>
            </ul>
        
    </div>

    <div class="hero-content">
        <p class="hero-content__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="hero-content__icon">
            <img
            src="./images/arrow-right-min.png"
                alt="Описание изображения для всех версий"
                />
        </button>
    </div>
</div>

 </section>



    <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu">close
            
        </button>
    
        <div class="mobile-menu">
    
            <button type="button" class="button-white button-white--mobile-menu">Buy now</button>
    
            <ul class="mobile-site-nav list">
                <li class="mobile--site-nav__item">
                    <a href="" class="mobile-site-nav__link site-nav__link--current">Home</a>
                  </li>
                  <li class="mobile--site-nav__item">
                    <a href="" class="mobile-site-nav__link">About us</a>
                  </li>
                  <li class="mobile--site-nav__item">
                      <a href="" class="mobile-site-nav__link">How it’s made?</a>
                  </li>   
                  <li class="mobile--site-nav__item">
                      <a href="" class="mobile-site-nav__link">Our products</a>
                  </li>
                  <li class="mobile--site-nav__item">
                      <a href="" class="mobile-site-nav__link">Contact</a>
                  </li>  
            </ul> 
    
        </div>
      </div>

    