<section class="hero hero-overlay">
   
<div class="container">
    <div class="container--header hero-bg">
        <div class="hero-bg--ice">
            <picture>
                <source srcset="./images/hero-ice-desk.png 1x,./images/hero-ice-desk.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/hero-ice-tab.png 1x,./images/hero-ice-tab.png 2x" media="(min-width: 768px)">
                <source srcset="./images/hero-ice-mob.png 1x,./images/hero-ice-mob.png 2x" media="(max-width: 767px)">
                <img src="./images/hero-ice-mob.png" alt="мороженое">
            </picture>
        </div>
    
        <div class="hero-bg--milk">
            <picture>
                <source srcset="./images/hero-milk-desk.png 1x,./images/hero-milk-desk.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/hero-milk-tab.png 1x,./images/hero-milk-tab.png 2x" media="(min-width: 768px)">
                <img src="./images/hero-milk-tab.png" alt="молоко">
            </picture>
        </div>
    
        <div class="hero-bg--woman">
            <picture>
                <source srcset="./images/hero-woman-desk.png 1x,./images/hero-woman-desk.png 2x" media="(min-width: 1280px)">
                <source srcset="./images/hero-woman-tab.png 1x,./images/hero-woman-tab.png 2x" media="(min-width: 768px)">
                <img src="./images/hero-woman-tab.png" alt="девушка с мороженым">
            </picture>
        </div>
    
        <div class="hero-bg--elipce"></div>
    
        <header class="page-header" >
            <div class="top">
                    <a href="" class="logo">
                        <img 
                                srcset="
                                    ./images/hero-logo.png 1x,
                                    ./images/hero-logo2x.png 2x"
    
                                src="./images/hero-logo.png" >
                    </a>
                        
            <nav class="page-header__nav"> 
                
            <ul class="site-nav list">
                <li class="site-nav__item">
                  <a href="" class="site-nav__link">Home</a>
                </li>
                <li class="site-nav__item">
                  <a href="#about" class="site-nav__link">About us</a>
                </li>
                <li class="site-nav__item">
                    <a href="#made" class="site-nav__link">How it’s made?</a>
                </li>   
                <li class="site-nav__item">
                    <a href="#products" class="site-nav__link">Our products</a>
                </li>
                <li class="site-nav__item">
                    <a href="#contact" class="site-nav__link">Contact</a>
                </li>
            </ul>
            </nav>
            <button
                class="menu-toggle js-open-menu"
                aria-expanded="false"
                aria-controls="mobile-menu" >
    
                <svg width="24" height="16" class="menu-icon">
                    <use href="./images/sprite.svg#menu-open"></use>
                </svg>
            </button>
    
            <button type="button" class="button--hero-buy button-white--hero">
                Buy now
                <svg class="button-white--hero__icon">
                    <use href="./images/sprite.svg#arrow"></use>
                </svg>
            </button>
                  
            </div>

        </header> 
        
    <div class="container-hero">
        <div class="container-hero--title">
            <h1 class="hero__title">
                <div>ice cream</div>
                <div>made with</div>
                <div class="hero__title--accent">passion</div>
            </h1>
            <div class="hero__button">
                <button type="button" class="button--hero-products button--hero-products-pink">
                    <a href="#products" class="button--hero-products-pink__link">Products</a>
                </button>
                <button type="button" class="button--hero-about button--hero-about-white">
                    <a href="#made" class="button--hero-about-white__link">How it’s made?</a>
                </button>
            </div>
        </div>

            <ul class="hero-statistic">
                <li class="hero-statistic__item">
                    <div class="hero-statistic__item--icon"></div>
                    <p class="hero-statistic__item--number">16</p>
                    <p class="hero-statistic__item--name">cafes</p>
                </li>
                <li class="hero-statistic__item">
                    <div class="hero-statistic__item--icon"></div>
                    <p class="hero-statistic__item--number">23</p>
                    <p class="hero-statistic__item--name">food trucks</p>
                </li>
            </ul>
        
    </div>

    <div class="hero-content">
        <p class="hero-content__text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </p>
        <button type="button" class="hero-content__icon">
            <img
            src="./images/arrow-right-min.png"
                alt="Описание изображения для всех версий"
                />
        </button>
    </div>                                                                                                 
    </div>

</div>

 </section>



    <div class="menu-container js-menu-container" id="mobile-menu">
        <button class="menu-toggle js-close-menu">
            <svg width="24" height="16" class="menu-icon--close">
                <use href="./images/sprite.svg#menu-close"></use>
            </svg>
        </button>
    
        <div class="mobile-menu">
    
            <button type="button" class="button--hero-buy button-mobile-menu--hero">
                Buy now
                <svg class="button-mobile-menu--hero__icon">
                    <use href="./images/sprite.svg#arrow"></use>
                </svg>
            </button>
    
            <ul class="mobile-site-nav list">
                <li class="mobile--site-nav__item">
                    <a href="" class="mobile-site-nav__link">Home</a>
                  </li>
                  <li class="mobile--site-nav__item">
                    <a href="" class="mobile-site-nav__link">About us</a>
                  </li>
                  <li class="mobile--site-nav__item">
                      <a href="" class="mobile-site-nav__link">How it’s made?</a>
                  </li>   
                  <li class="mobile--site-nav__item">
                      <a href="" class="mobile-site-nav__link">Our products</a>
                  </li>
                  <li class="mobile--site-nav__item">
                      <a href="" class="mobile-site-nav__link">Contact</a>
                  </li>  
            </ul> 
    
        </div>
      </div>

    