<section class="section product-section">
<p class="section__subtitle">100% natural</p>
<h2 class="section__title">products</h2>
<ul class="section__list">
    <li class="section__list--item">
        <div class="section-card--ice">
        <h3 class="section__item--title">ice cream</h3>
        <p class="section__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button"> </button>
         </div>
    </li>
    <li class="section__list--item">
        <div class="section-card--coffee">
        <h3 class="section__item--title">ice coffee</h3>
        <p class="section__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button"> </button>
         </div>
    </li>
    <li class="section__list--item">
        <div class="section-card--milkshake">
        <h3 class="section__item--title">milkshakes</h3>
        <p class="section__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button type="button"> </button>
         </div>
    </li>
</ul>
</section>