<section id="products" class="section product-section">
    <div class="container"> 
<p class="section__subtitle">100% natural</p>
<h2 class="section__title">products</h2>
<ul class="product__list">
    <li class="product__list--item">
        <div class="product-card--ice">
        <h3 class="product__item--title">ice cream</h3>
        <p class="product__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button class="product-button" type="button">  
            <img src="./images/arrow-right-min.png" alt="Стрелочка" width="40">
        </button>
         </div>
    </li>
    <li class="product__list--item">
        <div class="product-card--coffee">
        <h3 class="product__item--title">ice coffee</h3>
        <p class="product__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button class="product-button" type="button">  
            <img src="./images/arrow-right-min.png" alt="Стрелочка" width="40">
        </button>
         </div>
    </li>
    <li class="section__list--item">
        <div class="product-card--milkshake">
        <h3 class="product__item--title">milkshakes</h3>
        <p class="product__list--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. dolore magna aliqua facilisis.</p>
        <button class="product-button" type="button">  
            <img src="./images/arrow-right-min.png" alt="Стрелочка" width="40">
        </button>
         </div>
    </li>
</ul>
</div>
</section>