// Общие стили кнопки
.button {
  border: 0;
  padding: 0;
  border-radius: 22px;
  text-align: center;
  cursor: pointer;
  box-shadow: none;

  &:focus,
  &:hover {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  // Стили кнопок в герое
  &--hero-buy {
    @extend %main-button;
    @extend %white-button;

    &:hover,
    &:focus {
      background-color: $btn-bg-hover;
    }
  }

  &--hero-products {
    @extend %hero-button;
    @extend %accent-button;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.285;
    }

    &:hover,
    &:focus {
      background-color: $slider-pointer;
    }
  }

  &--hero-about {
    @extend %hero-button;
    @extend %white-button;

    @media screen and (min-width: 1280px) {
      font-size: 14px;
      line-height: 1.285;
    }

    &:hover,
    &:focus {
      background-color: $btn-bg-hover;
    }
  }

  // Стили кнопки в About
  &--about {
    padding-left: 37px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 56px;

    font-size: 14px;
    line-height: 1.286;
    font-weight: 700;

    @extend %white-button;

    @media screen and (min-width: 768px) {
      font-size: 16px;
      line-height: 1.3125;
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &:hover,
    &:focus {
      background-color: $btn-bg-hover;
    }
  }

  // Стили кнопок в Contacts
  &--contacts-location {
    @extend %main-button;
    @extend %accent-button;

    &:hover,
    &:focus {
      background-color: $slider-pointer;
    }
  }

  &--contacts-franchise {
    @extend %main-button;
    @extend %white-button;

    &:hover,
    &:focus {
      background-color: $btn-bg-hover;
    }
  }
}
