.section--about {
  background-color: $secondary-bg-pink;
  background-image: url(../images/about-backgr-mob.png);
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left 0px bottom 60px;

  @media screen and (max-width: 767px) {
    background-image: url(../images/about-backgr-mob.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about-backgr-mob2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    background-image: url(../images/about-backgr-desk.png);
    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/about-backgr-desk2x.png);
    }
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: none;
  }
}

.section__subtitle--about {
  margin-bottom: 15px;
}

.about__title {
  margin-bottom: 26px;
  @media screen and (min-width: 768px) {
    margin-bottom: 50px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 55px;
  }
}

.thumb {
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.overlay {
  @media screen and (min-width: 768px) {
    min-width: 340px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 516px;
  }
}

.box {
  margin-top: 40px;
  padding-right: 30px;
  padding-left: 30px;

  @media screen and (min-width: 768px) {
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 17px;
    margin-top: 50px;
  }
}

.about__description {
  color: $text-color-black;
  font-size: 12px;
  line-height: 1.583;
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.786;
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
  }
}

.about__text {
  font-size: 12px;
  line-height: 1.583;

  color: $text-color-grey;

  margin-bottom: 10px;
  @media screen and (min-width: 1280px) {
    margin-bottom: 15px;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.786;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    line-height: 1.928;
  }

  &--paragraph {
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 45px;
    }
  }
}

.button--about {
  position: relative;
}

.button--about__icon {
  position: absolute;
  width: 10px;
  height: 14px;
  top: 50%;
  right: 37px;
  transform: translateY(-50%);
  stroke: $primary-text-accent;
}
