.section--advantages {
  background-color: #fff5f6;
  @media screen and (min-width: 768px) {
    padding-top: 0;
  }
}
.advantages {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}
.advantages__item:not(:last-child) {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.advantages__wrap {
  position: relative;
  width: 230px;
  height: 136px;
  &::before {
    position: absolute;
    top: -45px;
    width: 50px;
    height: 50px;
    content: '';
  }
  @media screen and (min-width: 768px) {
    width: auto;
    height: auto;
    flex-basis: calc(100% / 3 - 60px);
    margin-right: 60px;
  }
}

.advantages__wrap--bg1 {
  &::before {
    background-image: url(../../src/images/advantages_icon1.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.advantages__wrap--bg2 {
  &::before {
    background-image: url(../../src/images/advantages_icon2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.advantages__wrap--bg3 {
  &::before {
    background-image: url(../../src/images/advantages_icon3.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.advantages__title {
  margin: 16px 0;
  display: inline-block;
  font-family: $accent-font;
  font-size: 36px;
  line-height: 1.138;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-text-accent;
  @media screen and (min-width: 768px) {
    margin-top: 35px;
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 1.146;
  }
  @media screen and (min-width: 768px) {
    margin-top: 40px;
    font-size: 58px;
    line-height: 1.138;
  }
}

.advantages__text {
  font-size: 12px;
  font-weight: 700;
  line-height: 1.7;
  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.74;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.76;
  }
}
