.section__contacts {
    background-image: linear-gradient(
    to bottom,
    $color-main 10.5%,
    $secondary-bg-pink 90px);
    position: relative;
}

.section__background {
    display: none;
    width: 100%;
    position: absolute;
    top: 215px;
}

.contacts__item {
    padding: 43px 20px;
    margin: 20px 30px;
    font-size: 12px;
    background: #FFFFFF;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    font-family: $main-font;
    &:nth-child(3) {
        margin-bottom: 0;
    }
    
    
    .contacts__category {
        padding: 0 24px;
        display: inline;
        background:$accent-bg-maize;
        text-transform: uppercase;
        font-size: 12px;
        color:$color-main;
        border-radius: 5px;
        &-background-green {
            background:$accent-bg-green;
        }
    }
    .contacts__subtitle {
        margin-top: 25px;
        font-size: 12px;
        text-transform: capitalize;
        font-family:$main-font;
        &-mt {
            margin-top: 10px;
        }
    }
    .contacts__text {
        color:$text-color-grey;
        margin:10px 0 25px 0;
    }
    .contacts__time {
        color:$secondary-text-accent;
        margin:0;
        &-mb {
            margin-bottom: 25px;
        }
    }
    .contacts__item:nth-child(2) {
        border-bottom: 1px solid $slider-accent;
    }
    .contacts__item:nth-child(4) {
        border-bottom: 1px solid $slider-accent;
    }
    .contacts__link {
        display: block;
        color:$text-color-grey;
        &:nth-child(1) {
            margin-top: 25px;
        }
    }
}

.button__block {
    margin-top: 50px;
    display: block;
}

.button__red {
    background:$btn-bg-accent;
    color:$color-main;
    padding: 13px 16px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    font-weight: bold;
}

.button__white {
    background:$color-main;
    color:$contact-icon-hover;
    margin: 10px auto;
    padding: 13px 33px;
    display: flex;
    align-items: center;
    font-weight: bold;
    &:hover, &:focus {
        background:$btn-bg-hover;
    }
}

.button__svg-white {
    stroke:$color-main;
    margin-left: 10px;
}

.button__svg-red {
    stroke:$btn-bg-accent;
    margin-left: 10px;
}

@media screen and (min-width:480px) {
    .contact {
        padding: 0 50px;
    }    
}

@media screen and (min-width:768px) {
    .section__contacts {
        background-image: linear-gradient(
        to bottom,
        $color-main 23.5%,
        $secondary-bg-pink 90px)
    }
    .contacts {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }
    .contacts__item {
        max-width:220px;
        padding: 50px 45px 50px 30px;
        margin:0;
        font-size: 14px;
        .contacts__category {
            padding: 4px 16px;
            font-size: 16px;
        }
        .contacts__subtitle {
            margin-top: 30px;
            font-size: 14px;
            &-mt {
                margin-top: 15px;
            }
        }
        .contacts__text {
            color:$text-color-grey;
            margin:15px 0 30px 0;
        }
        .contacts__time {
            color:$secondary-text-accent;
            margin:0;
            &-mb {
                margin-bottom: 30px;
            }
        }
    }
    .button__block {
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    .button__red {
        padding:13px 31px;
    }
    .button__white {
        margin: 0 0 0 15px;
        padding:13px 39px;
    }
}


@media screen and (min-width:1280px) {
    .section__contacts {
        background-image: linear-gradient(
        to bottom,
        $color-main 23.5%,
        $secondary-bg-pink 90px)
    }
    .section__background {
        display: block;
    }
    .contacts__item {
        max-width: 330px;
        padding: 50px 45px 60px 45px;
        font-size: 16px;
        .contacts__subtitle {
            margin-top: 30px;
            font-size: 16px;
        }
    }
    .button__block {
        margin-top: 85px;
    }
    .button__red {
        padding:13px 35px;
    }
    .button__white {
        margin: 0 0 0 15px;
        padding:13px 42px;
    }
}
